In [1]:
import pandas as pd
from py4tga import data

file_path, file_name = data.select_file()
print(file_path)

C:\Users\Rahul Ramesh Nair\Documents\Git\py4tga\examples\tga.ipynb

In [2]:
# read only the headers and sub headers
header = pd.read_csv(file_path, sep="\s+", header=None, nrows=2, encoding="ISO-8859-1")
tuples = list(zip(header.iloc[0], header.iloc[1]))
header_subheader = pd.MultiIndex.from_tuples(tuples)
df = pd.read_csv(file_path, sep="\s+", header=None, skiprows=2, encoding="ISO-8859-1")
df.columns = header_subheader
df.head(20).style

In [9]:
columns_of_interest = ['t', 'Ts', 'Tr', 'Weight', 'HF']
new_column_name = ['Time', 'Ts', 'Tr', 'Weight', 'HF']
current_df_columns = df.columns.to_list()
print (current_df_columns)
for col in df.columns:
    if col[0]==

[('Index', '[#]'), ('Ts', '[°C]'), ('t', '[s]'), ('HF', '[mW]'), ('Weight', '[mg]'), ('Tr', '[°C]')]
Index
Ts
t
HF
Weight
Tr

In [39]:
selected_columns = [
    2,
    1,
    5,
    3,
    4,
]  # column positions of time, sample temperature, reference temperature, heat flow and weight, repsectively.
selected_df = df.iloc[:, selected_columns]
# New column names (tuples for MultiIndex)
new_header_names = [
    ("Time", "[s]"),
    ("Ts", "[°C]"),
    ("Tr", "[°C]"),
    ("HF", "[mW]"),
    ("Weight", "[mg]"),
]

# Assign the new column names to the DataFrame
selected_df.columns = pd.MultiIndex.from_tuples(new_header_names)
selected_df.head(20).style

In [40]:
selected_df = selected_df.dropna()
selected_df = selected_df.round(3)
selected_df = selected_df.astype(float)
selected_df[("Time", "[min]")] = selected_df[("Time", "[s]")] / 60
selected_df[("Ts", "[K]")] = selected_df[("Ts", "[°C]")] + 273
selected_df[("Tr", "[K]")] = selected_df[("Tr", "[°C]")] + 273
selected_df[("HF", "[mW/mg]")] = (
    selected_df[("HF", "[mW]")] / selected_df[("Weight", "[mg]")]
)
selected_df.head(30).style

In [44]:
target_column = selected_df[("Tr", "[°C]")]
target_index = target_column[target_column == 30].index[0]
selected_df = selected_df.loc[target_index:]
selected_df[("Weight", "[%]")] = (
    selected_df[("Weight", "[mg]")] / selected_df[("Weight", "[mg]")].iloc[0] * 100
)
selected_df.head(30).style